.income {
  background: #7fff7f !important;
}
.expense{
  background: #ff7f7f !important;
}
.edit {
  color: black;
  height: 20px;
  opacity: .3;
  width: 20px;
  cursor: pointer;
  line-height: 20px !important;
  }

label {
  font-weight: bold;
  margin:0 5px 0 10px;
}
span#value {
  width:70px;
  display: inline-block;
}
span#category {
  width:90px;
  display: inline-block;
}
span#name {
  width:150px;
  display: inline-block;
}
span#date {
  width:80px;
  display: inline-block;
}