<script type="text/template" id="category-modal">
    <div id="category-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Add a new category</h4>
            <div class="row">
                <div class="input-field col s12 m12">
                    <input type="text" name="category" id="category">
                    <label for="category">Category name:</label>
                </div>
                <div class="input-field col s12 m12">
                    <select data-color="red" name="category-type" id="category-type">
                        <option value="1">Income</option>
                        <option value="2">Expense</option>
                    </select>
                    <label for="category-type">Category type:</label>
                </div>
                <div class="input-field col s12 m12">
                    <select name="color" id="color">

                    </select>
                    <label for="color">Choose a color for this category:</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-flat modal-close waves-effect" id="addCategory">Add Category</button>
        </div>
    </div>
</script>