<script type="text/template" id="stats-template">
    <div class="row">
        <div class="col s12 m10 l8">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        <h4 class="card-title">Choose the time period for the stats:</h4>
                    </div>
                    <h7>Start date:</h7>
                    <input type="date" id="start-date"/>
                    <h7>End date:</h7>
                    <input type="date" id="end-date"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m10 l8">
            <%= lineGraph  = '' %>
        </div>
        <div class="col s12 m2 l4">
            <%= content %>
        </div>
    </div>
</script>